<!-- <h1>Number: {{masterNumber}}{{result}}</h1> -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <b>History</b>
                </li>
                <li class="list-group-item" *ngFor="let g of history">{{g.guess}} B{{g.b}} C{{g.c}}</li>
            </ul>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>
                        <b>Bull</b>
                    </th>
                    <th>
                        <b>Cow</b>
                    </th>
                </tr>
                <tr>
                    <td>{{result.b}}</td>
                    <td>{{result.c}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <button class="btn btn-xs btn-primary" (click)="myFunc()">New Game</button>
            <br>
            <br>
            <div *ngIf="masterNumber;else other_content">
                <p>Tries Left:{{tries}}</p>
                <br>
                <form>
                    <input type="number" [disabled]="won || lost" class="number" name="guess" placeholder="make a guess.." [(ngModel)]="guess"
                        [ngModelOptions]="{standalone: true}">
                    <button (click)="makeGuess(guess)" [disabled]="won || lost" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <ng-template #other_content>No ongoing game</ng-template>

        </div>
    </div>

</div>